* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    height: 600px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 3px solid red;
    margin: auto;
}

.container div {
    width: 25%; 
    height: 25%;
    border: 2px solid teal;
}

.container div:hover {
    background-color:#60c18f ;
}

button {
    margin-top: 30px;
}